body {
  margin: 0;
  padding: 0;
  background-color: rgb(72, 30, 30);
  font-family: Arial, sans-serif;
  text-align: center;
}

h1, p, h2 {
  color: white;
}

div {
  margin: 20px auto;
  width: 250px;
  background: white;
  padding: 15px;
  border-radius: 8px;
}

h2 {
  color:rgb(47, 9, 9);
}

img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}
