body {
    font-family: Arial, sans-serif;
    background-color: rgba(63, 9, 9, 0.794); 
    margin: 0;
    padding: 40px 20px;
}

form {
    width: 90%;
    max-width: 520px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
    transition: 0.3s ease-in-out;
}

form:hover {
    transform: translateY(-4px);
}

h1 {
    text-align: center;
    color: #eff0f5;
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #faf6f6;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #1a1a1a;
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #c7c7c7;
    border-radius: 6px;
    font-size: 15px;
    margin-bottom: 18px;
    transition: all 0.25s ease;
}

input:focus, textarea:focus {
    border-color: #6e3f26af;
    box-shadow: 0 0 8px rgba(96, 33, 16, 0.629);
    outline: none;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #5c281d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.3s ease;
}

button:hover {
    background-color: #7e270d97;
    transform: scale(1.03);
}
