.form-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: #5b3a29;
    padding: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 15px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}

.signup-form input,
.signup-form button {
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

.signup-form button {
    background-color: rgba(34, 5, 5, 0.715);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-form button:hover {
    background-color: #5b3a29;
}
